apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # OTel Collector
  - otel/repository.yaml
  - otel/rbac.yaml
  - otel/otel-deployment.yaml
  - otel/otel-daemonset-release.yaml

  # Tracing (Jaeger)
  - jaeger/cert.yaml
  - jaeger/jaeger.yaml

  # Metrics (Prometheus)
  - kube-prometheus-stack/cert.yaml
  - kube-prometheus-stack/repository.yaml
  - kube-prometheus-stack/release.yaml
  - kube-prometheus-stack/blackbox-exporter/release.yaml

  # Logging (Loki)
  - loki/repository.yaml
  - loki/release.yaml

  # Dashboards
  - dashboards/loki-logs.yaml

  # General
  - namespace.yaml
