apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/argo
  - ../base/cert-manager
  - ../base/cnpg-operator
  - ../base/emqx-operator
  - ../base/istio-system
  - ../base/kiali-operator
  - ../base/knative-operator
  - ../base/mattermost-operator
  - ../base/metallb-system
  - ../base/metrics-server
  - ../base/openebs
patches:
  - patch: |
      - op: replace
        path: /spec/values/service/loadBalancerIP
        value: 10.30.0.10
    target:
      kind: HelmRelease
      name: istio-ingressgateway
      namespace: istio-system
  - patch: |
      - op: add
        path: /spec/values/meshConfig/extensionProviders/-
        value:
          name: "oauth2-proxy"
          envoyExtAuthzHttp:
            service: "oauth2-proxy.oauth2-proxy.svc.cluster.local"
            port: 80
            includeHeadersInCheck: ["cookie", "authorization"]
            headersToDownstreamOnDeny: ["content-type", "set-cookie"]
            headersToUpstreamOnAllow:
              [
                "x-forwarded-access-token",
                "authorization",
                "path",
                "x-auth-request-user",
                "x-auth-request-email",
                "x-auth-request-access-token",
              ]
    target:
      kind: HelmRelease
      name: istiod
      namespace: istio-system
  - patch: |
      - op: add
        path: /spec/values/meshConfig/extensionProviders/-
        value:
          name: "otel-tracing"
          opentelemetry:
            port: 4317
            service: "otel-daemonset-opentelemetry-collector.observability.svc.cluster.local"
            resource_detectors:
              environment: {}
    target:
      kind: HelmRelease
      name: istiod
      namespace: istio-system
  - patch: |
      - op: replace
        path: /spec/values/meshConfig/enableTracing
        value: true
    target:
      kind: HelmRelease
      name: istiod
      namespace: istio-system
  - patch: |
      - op: add
        path: /spec/values/service/ports/-
        value:
          name: "mqtt-tls"
          port: 8883
          protocol: TCP
          targetPort: 8883
    target:
      kind: HelmRelease
      name: istio-ingressgateway
      namespace: istio-system
  - patch: |
      - op: add
        path: /spec/values/service/ports/-
        value:
          name: "mqtt"
          port: 1883
          protocol: TCP
          targetPort: 1883
    target:
      kind: HelmRelease
      name: istio-ingressgateway
      namespace: istio-system
