---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - cert.yaml
  - clusterrole.yaml
  - configmap.yaml
  - deployment.yaml
  - ingress.yaml
  - service.yaml
  - serviceaccount.yaml
labels:
  - includeSelectors: true
    pairs:
      - app.kubernetes.io/name: homepage
      - app.kubernetes.io/instance: homepage-production
      - app.kubernetes.io/version: "1.0"
      - app.kubernetes.io/component: web
      - app.kubernetes.io/part-of: homepage
      - app.kubernetes.io/managed-by: flux
