[defaults]
INVENTORY = hosts.ini
host_key_checking = False

[connection]
pipelining = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m

[persistent_connection]
command_timeout = 60