POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGDATA=

REDIS_PASSWORD=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=

NEO4J_AUTH=

MARIADB_ROOT_PASSWORD=

MINIO_CONFIG_ENV_FILE=